body {
    background-color: transparent; /* Makes background clear */
    color: rgb(255, 255, 255);                  /* Makes text all white */
    font-family: Arial, Helvetica, sans-serif;       /* Clean look */
    text-transform: uppercase;     /* Forces ALL CAPS */
}

#clock-container {
    display: flex;
    gap: 8px;                      /* Spaces out the elements */
}

.hidden {
    display: none;                 /* Completely removes hidden items from view */
}